.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  border-top: 1px solid var(--light-blue);
  padding: 1rem 1.8rem;
  font-size: 0.8rem;
  color: #747c99;
}
